<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Backoffice----</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>  
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
           <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>  
           <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>  
      
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
      

<style>
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #999999;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container-fluid {
  padding-top: 50px;
}
.container-fluid .col-sm-6 {
  padding: 0;
}
.navbar {
  margin-bottom: 0;
}
.footer {
  padding: 15px 0;
}

.main-content {
  background: #efefef;
  padding: 20px;
  height: 100%;
  min-height: 100%;
}
</style>


</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Backoffice ---</a>
        </div>
    </div>
</nav>

<!-- <div class="container" style="min-height: 500px">
<div class="container">
	<h2>Klant lijst</h2>
	<form class="form-horizontal"  role="form">id="search-form"
		<div class="form-group">
			<label class="control-label col-sm-2" for="name">Name:</label>
			<div class="col-md-4">
				<input type="text" class="form-control" id="name" placeholder="Name">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="bedrijf">Bedrijf:</label>
			<div class="col-md-4">
				<input type="text" class="form-control" id="bedrijf" placeholder="Bedrijf">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="dateBirth">Date of Birth:</label>
			<div class="col-md-4">
				<div class="input-group date" id="pickerDateBirth">
                    <input type='text' id="dateBirth" class="form-control" placeholder="dd/MM/yyyy" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="register">Register:</label>
			<div class="col-md-4">
				<input type="text" class="form-control" id="register" placeholder="Register">
			</div>
		</div>
		<div class="form-group">
			<button type="button" id="bth-search" class="btn btn-info">id="buttonSearch"
				<span class="glyphicon glyphicon-search"></span> Search
			</button>
			<button type="button" id="buttonInsert" class="btn btn-success">
				<span class="glyphicon glyphicon-plus-sign"></span> Insert
			</button>
			<button type="button" id="buttonDelete" class="btn btn-warning">
				<span class="glyphicon glyphicon-minus-sign"></span> Delete
			</button>
		</div>
		<div>
			<table id="tableClient" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="col-sm-1" data-field="id">Id</th>
						<th class="col-sm-1" data-field="checkDelete"></th>
						<th class="col-sm-3" data-field="name">Name</th>
						<th class="col-sm-3" data-field="bedrijf">Bedrijf</th>
						 <th class="col-sm-2" data-field="dateBirth">Date of birth</th>
						<th class="col-sm-2" data-field="register">Register</th>
				
 					</tr>
				</thead>
			</table>
		</div>
	</form>
</div> -->



    <div class="starter-template">
        <h1>Backoffice search:</h1>

        <div id="feedback"></div>
        
        <form class="form-horizontal" id="search-form">
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="name"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="bth-search"
                            class="btn btn-primary btn-lg">Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <footer>
    </footer>
</div>


<script>
$(document).ready(function () {
    $("#search-form").submit(function (event) {
        event.preventDefault();
        fire_ajax_submit();
    });

});

function fire_ajax_submit() {
    var search = {}
    search["name"] = $("#name").val();
    $("#btn-search").prop("disabled", true);
    $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/api/search",
        data: JSON.stringify(search),
        dataType: 'json',
        cache: false,
        timeout: 600000,
        success: function (data) {
            var json = "<h4>Ajax Response</h4><pre>"
                + JSON.stringify(data, null, 4) + "</pre>";
            $('#feedback').html(json);
            console.log("SUCCESS : ", data);
            $("#btn-search").prop("disabled", false);
        },
        error: function (e) {
            var json = "<h4>Ajax Response</h4><pre>"
                + e.responseText + "</pre>";
            $('#feedback').html(json);
            console.log("ERROR : ", e);
            $("#btn-search").prop("disabled", false);
        }
    });
}
</script> 
 <script>  
 $(document).ready(function(){  
      $('#data-table').DataTable({  
      });  
 });  
 </script>  
 
 
 <table id="data-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Bedrijf</th>
                <th>Adres</th>
                <th>Postcode</th>
                <th>Telefoon</th>
                <th>Land</th>
            </tr>
        </thead>
         <tbody>  
                <tr th:each="lists : ${list}">
                <td th:text="${lists.id}"></td>
                <td th:text="${lists.name}"></td>
                <td th:text="${lists.price}"></td>
                <td>ACTION</td>
                </tr>  
            </tbody> 
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Bedrijf</th>
                <th>Adres</th>
                <th>Postcode</th>
                <th>Telefoon</th>
                <th>Land</th>
            </tr>
        </tfoot>
    </table>

<!-- <script>
$.ajax({
    type: "GET",
    url: '/api/all',
    contentType: "application/json; charset=utf-8",
    dataType: 'html',
    success: function(data){	   	
    	$("#klantlist").append(data);
    	//$("#klantlist").append('<ul><li>'+ data[1].name +'</li></ul>');	
   }
});
</script>
 --><h3><strong>Klanten Lijst :</strong></h3>
<div id="klantlist" align="center">	
<script>
/*
$(document).ready(function() {
	ajaxGet();
	function ajaxGet(){
		$.ajax({
			type : "GET",
			url : '/api/all',
			dataType: "html",
			success: function(result){
				//$("#klantlist").append(result);
				for(var i =0;i < result.length-1;i++)
					{
 						 var item = result[i];
  							alert(item.id + item.name + item.adres + item.telefoon);
					}
				
				
			/* 	$.each(result, function(index, klant){
				   alert(klant.name);
					//console.log (klant.id);
					var customerRow = '<tr>' +
										'<td>' + klant.id + '</td>' +
										'<td>' + klant.name + '</td>' +
										'<td>' + klant.adres + '</td>' +
										'<td>' + klant.telefoon + '</td>' +
										'<td>' + klant.postcode + '</td>' +
									  '</tr>';	
					$('#klantlist tbody').append(customerRow);
		        });
				
				$( "#customerTable tbody tr:odd" ).addClass("info");
				$( "#customerTable tbody tr:even" ).addClass("success"); 
			},
			error : function(e) {
				alert("ERROR: ", e);
				console.log("ERROR: ", e);
			}
		});	
	}
})
*/
 </script>
<!-- <div class="container">
	<h1>Customer Table</h1>
		<div class="row col-md-7 table-responsive">
			<table id="klantlist" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Age</th>
						<th>Street</th>
						<th>Postcode</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
 -->
</body>
<footer class="footer">
    <div class="container">
        Sticky footer based on <a href="http://getbootstrap.com/examples/sticky-footer-navbar/">Boostrap example</a>.
    </div>
</footer>
</html>
